#page-wrapper {
  background-color: floralwhite;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 200px;
}
/*email */

#emailS {
  justify-self: center;
}
#form {
  display: grid;
  grid-template-columns: 1fr;
}
#submit {
  font-size: 20px;
  background-color: goldenrod;
  border: 3px solid goldenrod;
}
#email {
}

/*header */
#header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: bisque;
  width: 100%;
}
#nav-bar {
  display: inline-block;
}
#headerList {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
  list-style-type: none;
}
#header-img {
  width: 100px;
  height: auto;
}

/*shop*/

#shopboxGrid {
  padding-top: 20px;
  padding-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-row-gap: 100px;
}
#shop {
  background-color: white;
  border-style: solid;
  border-width: 2px;
}
#headerShop {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: wheat;
}
#textHeaderShop {
  border: solid;
  border-width: 1px;
  width: 120px;
  color: white;
  background-color: black;
  border-top-right-radius: 20%;
  border-end-end-radius: 20%;
  border-color: black;
  font-size: 40px;
}
#iteam-img {
  width: 150px;
  height: 250px;
}
#iteam {
}
#iteam-img:hover {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  opacity: 0.5;
}

/*membership*/
#membership {
}
#membershipGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
#membershipHeader {
  position: relative;
  left: 30%;
}

#membershipSeciton {
  background-color: white;
  width: 200px;
  height: 540px;
}

#membershipImage {
  width: 100px;
  height: 100px;
}
#membershipList {
  font-size: 25px;
  color: black;
}
#GoldPriece {
  position: relative;
  top: 90px;
  left: 40%;
}

#SilverPriece {
  position: relative;
  left: 40%;
  top: 120px;
}

#diamondPriece {
  position: relative;
  left: 40%;
}

#silver {
  color: silver;
}
#gold {
  color: gold;
}

#Diamond {
  color: aqua;
}

#buttonMembership {
  position: relative;
  font-size: 20px;
  background-color: goldenrod;
  width: 120px;
  border: 3px solid goldenrod;
  right: 20%;
}

#buttonMembership:hover {
  opacity: 0.7;
}
